.edit-container{
    display: flex;
    justify-content: center;
}

.edit-container > form{
    display: flex;
}

.edit-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    border: 0.5px solid rgba(246, 222, 222, 0.586);
}