.edit-container{
    display: flex;
    justify-content: center;
}

.edit-container > form{
    display: flex;
}

.edit-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
}