.add-transaction {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #ff7171;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-transaction:hover{
    cursor: pointer;
}

.add-transaction-button {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: larger;
    color: white;
}